<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">URL Shortner</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Github</a></li>
        <li><a href="#">API</a></li>
      </ul>

    </div>
  </nav>

  <form action="/shorten_url" method="post" accept-charset="UTF-8">
      <p>Enter the URL to shorten:</p>
      <input class="z-depth-5" type="text" name="url" >
      <input class="btn waves-effect waves-light" type="submit" value="Get Shortened URL">
  </form>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>